header {
    background-color: aliceblue;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.d-block {
    display: flex;
    flex-direction: row
}

#plava {
    display: flex;
    flex-direction: row
}

.w100 {
    width: 100%
}

.b-0 {
    margin: 0;
    padding: 0
}

* {
    font-family: "Times New Roman", Copperplate, serif
}

#pavasaris {
    display: flex;
    flex-direction: row;
}

#vasara {
    display: flex;
    flex-direction: row-reverse;
}
footer {
    text-align: center;
    background-color: aqua;
}
.space4 {
    letter-spacing: 4px
}
.w50 {
    width: 50%
} 
.p3 {
    padding: 3rem
}
.h1 {
text-align: center;
text-decoration-color: blueviolet;
}